body {
	font-family: 'Merriweather', serif;
	margin: 0;
	padding: 0;
}

header {
	background: url(bmw.jpg)  center top ;
	
    background-size: 100%;
    
}

.container {
	margin: 0 auto;
}

.header-menu {
	background: white;
	opacity: .6;
	height: 100%;
}

.logo {
	height: 70px;
	width: 100%;
	
}
nav {
	float: right;
	margin-top: 23px;
}
.menu {
	display: block;
	margin: 0;
	padding: 0;
	margin-right: 70px;
}

.menu li {
	float: left;
	display: block;
	margin-right: 40px;
}

.menu li:hover {
	text-decoration: underline;
	font-size: 20px;
}

.menu li a {
	color:floralwhite;
	text-decoration: none;
	text-transform: uppercase;
}

.title {
	font-size: 30px;
	text-align: center;
	color: #fff;
	margin-top: 150px;
	margin-bottom: 0;
}
h1 {
	font-family: 'Dancing Script', cursive;
	color:white;
	text-align: center;
}
.icons {
	text-align: center;
}
.insta{
font-size: 30px;
	text-align: center;
	color: #fff;
	margin-top: 650px;
	margin-bottom: 0;
}


.video{

position: 

}

.form-wrap{
background color:darkviolet;


}
.NEWS{
    background-color: aliceblue;
    text-decoration-color: aliceblue;
    
    
}





.mainmenubtn {
    background-color: dimgrey;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}

.mainmenubtn:hover {
    background-color: black;
    }
    
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: black;
    min-width: 200px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
.dropdown-child {
    display: none;
    background-color: black;
    min-width: 200px;
    opacity: 0.5;
}
.dropdown-child:hover {
    display: none;
    background-color: black;
    min-width: 200px;
    opacity: 0.8;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown-child a:hover {
    color: white;
    background-color: gray;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
     
}
a{
    border: 1px gray solid;
}
 #scroller_container {
        margin: 0 auto;
        width: 530px;
        overflow: hidden;
        line-height:0;
        font-size:0;
    }
    #scroller_container div {
        float: left;
        vertical-align: baseline;
    }
    #scroller_container>div {
        position: relative;
        white-space: nowrap;
        width: 100%;
        padding: 22px 0;
    }
    #scroller_container>div a,
    #scroller_container>div a img {
        padding: 0;
        margin:0;
    }
    #scroller_container>div a img {
        margin: 0 1px;
        border:0;
    }
